# macOS
.DS_Store

# Raw data (có thể chứa dữ liệu nhạy cảm)
raw_data/

# Archive (phiên bản cũ, không cần theo dõi)
archive/

# Dữ liệu đã xử lý (file lớn)
combined_data.parquet

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
